$font: 'Poppins', sans-serif;

$backgroundColor: #131312;

$gradientColor: linear-gradient(90deg, #00FFF0 -18.87%, #E2FF6C 44.08%, #FFC700 108.35%);

// $mainColor:;

// $header:;

// $subheader:;

// $text:;