$font: "Poppins", sans-serif;

$backgroundColor: #131312;

$blue: #8df8f3;

$gradientColor: linear-gradient(
  90deg,
  #00fff0 -18.87%,
  #e2ff6c 44.08%,
  #ffc700 108.35%
);

$header: clamp(2.2rem, 5vw, 3.2rem);

$subheader: clamp(1.2rem, 2.5vw, 1.6rem);

$text: clamp(0.8rem, 1.5vw, 1.2rem);

$smallText: clamp(0.6rem, 1.5vw, 0.6rem);

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin borderGradient() {
  padding: 0.25rem;
  border-radius: 8px;
  min-width: 3.4rem;
  text-align: center;
  background-image: linear-gradient(#1c1b1b, #1c1b1b),
    linear-gradient(90deg, #00fff0, #e2ff6c, #ffc700);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0.1rem;
  &:hover {
    animation: gradientSpin 0.5s infinite ease;
    cursor: pointer;
  }
}
