$font: 'Poppins', sans-serif;

$backgroundColor: #131312;

$blue: #8df8f3;

$gradientColor: linear-gradient(90deg, #00FFF0 -18.87%, #E2FF6C 44.08%, #FFC700 108.35%);

$header: clamp(2.2rem, 5vw, 3.2rem);

$subheader: clamp(1.2rem, 2.5vw, 1.6rem);

$text: clamp(0.8rem, 1.5vw, 1.2rem);

$smallText: clamp(0.6rem, 1.5vw, 0.6rem);

@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}