* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1b1919;
}

*::-webkit-scrollbar-thumb {
  background-color: #151414;
  border-radius: 10px;
  border: 3px solid #1b1919;
}

body {
  background: #131312;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  font-size: 62.5%;
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

h2, h3, h4, p, a, ul {
  color: #8df8f3;
}
h2 li, h3 li, h4 li, p li, a li, ul li {
  font-size: clamp(0.6rem, 1.5vw, 0.6rem);
}

h1 {
  background: linear-gradient(90deg, #00FFF0 -18.87%, #E2FF6C 44.08%, #FFC700 108.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(2.2rem, 5vw, 3.2rem);
  background-clip: text;
}
h1 span {
  display: block;
}
h1 span:nth-child(2) {
  margin-top: -2rem;
}

h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

h3, p {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

h4 {
  font-size: clamp(0.6rem, 1.5vw, 0.6rem);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem;
}

.hero {
  display: flex;
}
.hero > * {
  min-width: 50%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

header a {
  margin: 0.5rem;
}

p {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;
  height: 65px;
  border-radius: 50px;
  background: #E6F85E;
  font-weight: 700;
  margin-top: 5rem;
  font-size: 1.25rem;
  color: black;
  margin: 0 auto;
}

.gradient {
  height: 260vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background: radial-gradient(44.07% 107.38% at 85.73% 79.72%, rgba(148, 255, 0, 0.1) 0%, rgba(125, 233, 149, 0.0421812) 64.2%, rgba(255, 255, 255, 0) 100%);
}

.scroll-container {
  width: 50%;
  height: 500px;
  background: rgba(40, 40, 40, 0.15);
  border-radius: 16px;
  padding-bottom: 2rem;
  overflow: auto;
  max-height: 350px;
}
.scroll-container > * {
  padding: 1rem;
}

.links {
  display: flex;
}
.links li {
  padding: 0.1rem;
}
.links .border-gradient {
  margin: 0.5rem 0.5rem 0rem 0rem;
  padding: 0.25rem;
  border-radius: 8px;
  min-width: 3.4rem;
  text-align: center;
  background-image: linear-gradient(#1c1b1b, #1c1b1b), linear-gradient(90deg, #00FFF0, #E2FF6C, #FFC700);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0.1rem;
  margin: 0.25rem 0.25rem 0.25rem 0rem;
}
.links .border-gradient:hover {
  animation: gradientSpin 0.5s infinite ease;
  cursor: pointer;
}

@keyframes gradientSpin {
  0% {
    background-image: linear-gradient(#1c1b1b, #1c1b1b), linear-gradient(90deg, #00FFF0, #E2FF6C, #FFC700);
  }
  33% {
    background-image: linear-gradient(#1c1b1b, #1c1b1b), linear-gradient(90deg, #FFC700, #00FFF0, #E2FF6C);
  }
  66% {
    background-image: linear-gradient(#1c1b1b, #1c1b1b), linear-gradient(90deg, #E2FF6C, #FFC700, #00FFF0);
  }
  100% {
    background-image: linear-gradient(#1c1b1b, #1c1b1b), linear-gradient(90deg, #00FFF0, #E2FF6C, #FFC700);
  }
}
h2 {
  color: #2FCCEE;
}

section {
  border-radius: 25px;
  margin: 0.5rem;
}
section:hover {
  background-color: #1c1b1b;
}

.about-nav {
  margin: 1rem 1rem 1rem 0rem;
}
.about-nav > a {
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #242424;
  border-radius: 12px;
}
.about-nav > a:hover {
  background-color: #323232;
}/*# sourceMappingURL=style.css.map */