@import './variables';
@import './reset';



body{
  background: $backgroundColor;
  font-family: $font;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  font-size: 62.5%;
}

.site-wrapper{
  max-width: 1280px;
  // border: 2px solid blue;
  margin: 0 auto;
}


h1{
  background: $gradientColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $header;
  // white-space: pre-line;
  // background-clip: text;
  // text-fill-color: transparent;
}

h1 span{
  display: block;
}

#root{
  height: 100vh;  
  background: radial-gradient(44.07% 107.38% at 85.73% 79.72%, rgba(148, 255, 0, 0.1) 0%, rgba(125, 233, 149, 0.0421812) 64.2%, rgba(255, 255, 255, 0) 100%);
  // border: 2px solid red;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2.5rem;
  // max-width: 1280px;
}

main{
  @include flexCenter(column);
  padding: 5rem;
  // max-width: 1280px;
}

.hero{
  display: flex;
  > *{
    padding: 2rem;
    margin-right: 5rem;
    // border: 2px solid red;
  }
}

header a, h2{
  margin: 0.5rem;
  color: #8df8f3;
}

p{
  font-size: $text;
}
.button{
  @include flexCenter(row);
  width: 150px;
  height: 65px;
  border-radius: 50px;
  background: #E6F85E;
  font-weight: 700;
  margin-top: 5rem;
  font-size: 1.25rem;
  color: black;
}





